/* img {
    width: 300px;
} */

/* card {
    height: 300;
} */

/* card {
    display: 'flex',
    flexDirection: 'column',
    height: 425,
  }

  media {
    objectFit: 'contain',
    maxHeight: 350,
  }

  content {
    flex: 1,
  } */