.me-image {
    width: 250px;
    height: auto;
}


/* .bio-container {
    max-width: 75%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background-color: #390854;
    color: white;
}

.bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* .bio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #390854;
    color: white;
  }

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */


/* .bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #390854;
    color: white;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  

   */



.bio-container {
  max-width: 75%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #390854;
  color: white;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item img {
  display: block;
  margin: 0 auto;
}